<extend name="Public:layout" />
<block name="main-content">

  <div class="m-recommend" style="background:#EEEEEE">
    <div class="f-wrap">
      <div class="u-mainTit">高热度项目推荐</div>
      <ul class="f-cb">
        <li> <a target="_blank" href="#"> <img src="__PUBLIC__/Home/imgs/major_money(1).png">
          <h5>金融行业直播学习会</h5>
          <p>紫荆教育 免费</p>
        </a> </li>
        <li> <a target="_blank" href="#"> <img src="__PUBLIC__/Home/imgs/major_money(2).png">
          <h5>P2P模式的未来</h5>
          <p>紫荆教育 免费</p>
        </a> </li>
        <li> <a target="_blank" href="#"> <img src="__PUBLIC__/Home/imgs/major_money(3).png">
          <h5>新三板挂牌法律实务</h5>
          <p>紫荆教育 免费</p>
        </a> </li>
        <li> <a target="_blank" href="#"> <img src="__PUBLIC__/Home/imgs/major_money(4).png">
          <h5>股票投资</h5>
          <p>紫荆教育</p>
        </a> </li>
      </ul>
    </div>
  </div>
<!--<div id="j-userSayNode" class="usersay">-->
<!--  <div class="m-userSayList f-pr">-->
<!--    <div class="j-leftItm changeItm left f-cb disabled" id="auto-id-1450263195702"></div>-->
<!--    <div class="j-content content f-cb">-->
<!--      <div class="container-intro"  style="color:#000">-->
<!--	  <a href="#" target="_blank">-->
<!--	  <img src="__PUBLIC__/Home/imgs/2445736072656098045.jpg" alt="">-->
<!--        <div class="name"  style="color:#000">彭国军</div>-->
<!--        </a>-->
<!--        <div class="title">副教授，博士生导师</div>-->
<!--        <div class="text-intro">-->
<!--          <p>武汉大学计算机学院副教授，博士生导师，全国网络与信息安全防护峰会联合发起人、执行主席，中国网络空间安全协会（筹）竞评演练工作组成员；主要研究领域包括：恶意代码及可信软件等。主持国家自然科学基金等各类国家级、省部级及横向合作类信息安全科研项目20余项。获得高等教育国家级教学成果奖一等奖1次，湖北省高等学校教学成果奖一等奖1次，武汉大学优秀教学成果奖一等奖2次，以及武汉大学青年教师教学竞赛二等奖等；编写出版《恶意代码取证》（译著）、《计算机病毒分析与对抗》等著作。近年来个人指导本科生获全国大学生电子设计竞赛信息安全技术专题邀请赛一等奖1项、全国大学生信息安全竞赛一等奖3项，二等奖5项。</p>-->
<!--          <p>个人页面：<a href="#"></a> </p>-->
<!--          <p>微博：<a href="http://weibo.com/d202" _href="http://weibo.com/d202" _src="http://weibo.com/d202"></a></p>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="container-intro"  style="color:#000"><a href="#" target="_blank"><img src="__PUBLIC__/Home/imgs/1149262329927080756.jpg" alt="">-->
<!--        <div class="name" style="color:#000">何钦铭</div>-->
<!--        </a>-->
<!--        <div class="title">教授</div>-->
<!--        <div class="text-intro">-->
<!--          <p>浙江大学计算机科学与技术学院教授，教育部大学计算机课程教学指导委员会副主任委员、浙江省高校计算机类专业教学指导委员会主任委员。主要研究方向为数据挖掘、虚拟计算系统技术，主讲“程序设计基础”、“数据结构基础”、“高级数据结构与算法分析”等课程。为国家精品课程与精品资源共享课程“程序设计基础”负责人、国家十一五及十二五规划教材“C语言程序设计”负责人。曾获国家优秀教学成果二等奖3项、浙江省优秀教学成果一等奖5项，以及霍英东优秀青年教师奖、宝钢优秀教师奖、浙江省高等学校教学名师等荣誉。</p>-->
<!--          <p><br>-->
<!--          </p>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="container-intro" style="color:#000"><a href="#" target="_blank"><img src="__PUBLIC__/Home/imgs/634163122546928642.jpg" alt="">-->
<!--        <div class="name" style="color:#000">翁恺</div>-->
<!--        </a>-->
<!--        <div class="title">教师</div>-->
<!--        <div class="text-intro">-->
<!--          <p>计算机博士，浙江大学计算机学院教师，ACM-ICPC优秀教练奖得主，2011世界总决赛金牌教练。主要讲授包括C、C++、Java程序设计，程序设计语言原理，计算机体系结构，嵌入式系统等课程。</p>-->
<!--          <p>专业方向为嵌入式操作系统和嵌入式系统应用，是国内Arduino和树莓派应用的鼓吹者，翻译出版了多本相关书籍，在创客界交友广泛。</p>-->
<!--          <p>2004年前后的Java教学视频在网络上流传甚广，现在在网易云课堂 上开设有Java、C++、Arduino等多门课程。</p>-->
<!--          <p>业余爱好无线电，1988年开始玩业余电台，电台呼号BA5AG，主要玩莫尔斯码、短波、数据通信和卫星通信。是浙大传统毅行的发起者和早期组织者之一。</p>-->
<!--          <p><br>-->
<!--          </p>-->
<!--        </div>-->
<!--      </div>-->
<!--	  </div>-->


<!--    <div class="j-rightItm changeItm right f-cb" id="auto-id-1450263195703"></div>-->
<!--    <div></div>-->
<!--  </div>-->
<!--</div>-->

  <div class="block g-wrap cert c2 f-cb" style="line-height:35px; width:80%;font-size:20px ;margin-top:180px;background:#EEEEEE">
    <div class="f-fl img"></div>
    <div class="f-fr text f-f0">
      <h2 class="f-f0">广泛认可的证书支持</h2>
      <div class="detail s-fc5"> 当你完成课程学习后，还可以获得老师签名的证书。<br>
        这些证书不仅仅是一种荣耀，更是你成长路上的一个里程碑。<br>
        <a class="f-fcgreen" href="#" style="color:#70C5D3" target="_blank">点击查看详情&gt;</a> </div>
    </div>
  </div>
  <div class="bd"></div>
  <div class="block g-wrap cert c1 f-cb" style="line-height:35px;width:80%; font-size:20px ;margin-top:180px;background:#EEEEEE">
    <div class="f-fl text f-f0">
      <h2 class="f-f0">先进的在线学习方式</h2>
      <div class="detail s-fc5"> 应用时下最流行的MOOC教学方式，定期开课，简短视频、在线测试和作业评估。<br>
        比起通过书籍自学，更快速有效。 </div>
    </div>
    <div class="f-fr img"></div>
  </div>
  <div class="bd"></div>
  <div class="block g-wrap cert c3 f-cb" style="line-height:35px; width:80%;font-size:20px ;margin-top:180px;background:#EEEEEE">
    <div class="f-fl img"></div>
    <div class="f-fr text f-f0">
      <h2 class="f-f0">随时随地掌握学习进度</h2>
      <div class="detail s-fc5"> 下载云课堂App，将课程统统装进你的口袋。<br>
        无论是在家里，还是在咖啡馆，随时随地，学习进度轻松掌握。 </div>
    </div>
  </div>
</div>
<div class="question">
  <div class="g-wrap f-cb f-f0" style="line-height:30px; font-size:17px; width:80%; margin-top:180px;background:#EEEEEE">
    <div class="u-mainTit">常见问题</div>
    <div class="list">
      <div class="itm">
        <p class="tit">Q：课程是免费的吗？</p>
        <p class="s-fc5">A ：是的，现在计算机专业体系都是免费的，你可以自由选择喜欢的课程进行学习。</p>
      </div>
      <div class="itm itm2">
        <p class="tit">Q：如何获得认证证书？</p>
        <p class="s-fc5">A ：要想获得证书，你需要完成相关学习内容，包括观看视频，提交作业，参与互评和讨论等等。你需要及时查看课程大纲及公告，了解获得课程证书的具体要求。课程团队将根据你的最后得分判断是否颁发证书。</p>
      </div>
    </div>
    <a class="link" href="#" target="_blank" style="color:#70C5D3">查看全部 &gt;</a> </div>
</div>
<br/>
<br/>
</block>